<div ng-include="'views/nav.html'"></div>

<h3>choisir un eleve</h3>

  
<form ng-submit="insertAbsence()" novalidate >
    <table>
    
        <ul>
      <div ng-controller="AbsenceCtrl" >
   <input value="nom" type="text" ng-model="g.nom" size="20" required >
    
   <button  ng-click="search()" type="submit" value="recherche" />
</div>
            <li  ng-repeat="user in users" ng-value="user.id"  ng-model="form.utilisateur_id">{{ user.nom }},  {{ user.prenom }}  
                <label><input type="radio"  > selectionner</label>
            </li>
         </ul>  
  
  
        <tr>
             <td>du</td>
             <td><input type="date" ng-model="form.date_debut_absence" size="60" /></td>
        </tr>
        <tr>
             <td>au</td>
             <td><input type="date" ng-model="form.date_fin_absence" size="60" /></td>
        </tr>
        <tr>
                <td>motif</td>
                <td><input type="text" ng-model="form.motif" size="60" /></td>
            </tr>
    </table>
     <td colspan="2"><input type="submit" value="enregistrer" /></table>

</form>
    
    
   
<table  class="table">
  <tr>
    
    <th>nom</th>
    <th>prenom</th>
  </tr>
  <tr ng-repeat="user in users" ng-value="user.id">
  <a>
    <th>{{ user.nom }}</th>
    <th>{{ user.prenom }}</th>
  </a>
  </tr>
</table>
</div>











<!--<form ng-submit="submitUser()" novalidate >
    <table>
            <tr>
                <td>nom</td>
                <td><input type="text" ng-model="form.nom" size="20" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="submit" /> <button type="reset" value="Reset">Reset</button></td>
    
            </tr>
            
    </table>
</form>-->
